* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.landing-button {
  background-color: #04726D;
  color: #ffffff;
  transition: 0.3s;
}

.landing-button:hover {
  background-color: #dddddd;
  color: #04726D;
}

.reward-button {
  background-color: #09257A;
  color: #ffffff;
  transition: 0.3s;
}

.reward-button:hover {
  background-color: #dddddd;
  color: #09257A;
}
.submit-button {
  background-color: #236477;
  color: #ffffff;
  transition: 0.3s;
}

.submit-button:hover {
  background-color: #dddddd;
  color: #236477;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
